// one v one
@import "./tools.less";

a{
  text-decoration: none;
  
}

.onevone {
  .card-main {
    width: 100%;
    aspect-ratio: 1/0.86;
    border-radius: 1rem;
    background: @blue-gradient;
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 0.8rem;
        color: white;
        font-weight: bold;
      }
    }
    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 3rem;
        aspect-ratio: 1/1;
      }
      span {
        color: white;
      }
      .name {
        color: white;
        font-size: .875rem;
        font-weight: 500;
      }
    }
    .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .amount {
        display: flex;
        flex-direction: column;
        color: white;
        opacity: 0.63;
        .title {
          font-size: .375rem;
        }
        .value {
          font-size: .625rem;
          font-weight: bold;
        }
      }
      .button {
        display: flex;
        justify-content: flex-end;
        button{
            .font-dm-sans;
            font-size: .5rem;
            width: 60%;
            height: 1.5rem;
            // padding: .125rem .625rem;
            border: none;
            border-radius: .4813rem;
            background: white;
            color: #1570ef;
    
            font-weight: bold;
        }
      }
    }

    &.paired {
      .center {
        img {
          width: 2rem;
        }
      }
      .bottom {
          .amount{
            .value{
                font-size: .5rem;
                color: white;
                opacity: 1;
            }
          }
        .other {
          display: flex;
          justify-content: flex-end;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .25rem .625rem;
            border-radius: 3.125rem;
            font-size: .4375rem;
            height: 1.125rem;
            font-weight: bold;
            border: .0625rem solid white;
            color: white;
            &.lost {
              background: red;
            }
            &.on-going {
                background:rgba(255, 255, 255, 0.359);
            }
            &.won {
                background:rgb(27, 203, 39);
                padding: .25rem .625rem;
              }
          }
        }
      }
    }
  }
  .card-info {
    padding-top: .5rem;
    span {
      color: #00070D;
      .font-dm-sans;
      display: block;
      font-size: .5rem;
      margin-bottom: .25rem;
    }
  }
}
