.explore {
  position: relative;
  height: 100vh;
}
.explore .new-game {
  position: absolute;
  bottom: 52px;
  right: 24px;
  width: 56px;
  aspect-ratio: 1/1;
  background: #FE4E40;
  border: none;
  border-radius: 8px;
}
