@import "../fonts/stylesheet.css";
@font-face {
  font-family: syne;
  src: url("../fonts/Syne-VariableFont_wght.ttf");
}
@font-face {
  font-family: geolacia;
  src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf");
}
@font-face {
  font-family: dmsans;
  src: url("../fonts/DMSans-VariableFont_opsz,wght.ttf");
}
.font-syne {
  font-family: syne;
}
.font-pilat {
  font-family: Pilat Extended;
}
.font-dm-sans {
  font-family: dmsans;
  font-style: normal;
}
.font-geolacia {
  font-family: geolacia;
}
* {
  scroll-behavior: smooth;
}
.border {
  border: 1px solid;
}
html {
  background: #fff;
}
body {
  padding: 0px;
  margin: 0px;
  background: #FCFDFD;
}
.row {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}
.games .games-not-empty .nav-item {
  width: 45%;
}
.games .games-not-empty .nav-item button {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center !important;
}
.games .games-empty {
  margin-top: 4.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.0625rem 0rem 1.0625rem 0rem;
}
.games .games-empty h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem;
}
.games .games-empty button {
  background: #fe4e40;
  border: none;
  width: 95%;
  margin: 1.0625rem;
  height: 3.75rem;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
