@import "../fonts/stylesheet.css";
@font-face {
  font-family: syne;
  src: url("../fonts/Syne-VariableFont_wght.ttf");
}
@font-face {
  font-family: geolacia;
  src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf");
}
@font-face {
  font-family: dmsans;
  src: url("../fonts/DMSans-VariableFont_opsz,wght.ttf");
}
.font-syne {
  font-family: syne;
}
.font-pilat {
  font-family: Pilat Extended;
}
.font-dm-sans {
  font-family: dmsans;
  font-style: normal;
}
.font-geolacia {
  font-family: geolacia;
}
* {
  scroll-behavior: smooth;
}
.border {
  border: 1px solid;
}
html {
  background: #fff;
}
:root {
  height: 100dvh;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100dvh;
  background: #FCFDFD;
}
.row {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}
:root {
  background: #d3ff58;
}
.login {
  position: relative;
  /* Define the animation */
  background: url("../images/mobile-auth-bg.svg");
  height: 100dvh;
  overflow-y: scroll;
  background-size: cover;
  padding: 1.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login .home-image {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  /* Dot is visible */
  50% {
    opacity: 0;
  }
  /* Dot is invisible */
  100% {
    opacity: 1;
  }
  /* Dot is visible again */
}
.login * {
  font-family: Pilat Extended;
  font-size: 0.875rem;
}
.login .auth-card {
  margin-bottom: 5.5rem;
  padding: 1.5rem 1.25rem;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(20, 27, 32, 0.03), 0rem 1.25rem 1.5rem -0.25rem rgba(20, 27, 32, 0.08);
  border-radius: 0.75rem;
}
.login .auth-card.default {
  margin-top: 3.75rem;
}
.login .auth-card.signup {
  margin-bottom: 0rem;
}
.login .auth-card h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
.login .auth-card h1.sm {
  font-size: 1.25rem;
}
.login .auth-card h1.left {
  text-align: left;
}
.login .auth-card .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.3125rem;
  margin-top: 0.625rem;
}
.login .auth-card .blocks .block {
  height: 0.25rem;
  background: #efeefe;
}
.login .auth-card .blocks .block.active {
  background: #5e57f2;
}
.login .auth-card form {
  margin-top: 2.25rem;
  display: grid;
  row-gap: 1.5rem;
  position: relative;
}
.login .auth-card form label {
  color: #454a4e;
}
.login .auth-card form label,
.login .auth-card form p,
.login .auth-card form a,
.login .auth-card form input {
  font-family: dmsans;
  font-style: normal;
}
.login .auth-card form .input-cont {
  border-radius: 0.5rem;
  border: 0.0625rem solid #d9dadb;
  background: #fff;
  width: 100%;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(16, 24, 40, 0.05);
  padding: 0.625rem 0.875rem;
  display: flex;
}
.login .auth-card form .input-cont.err {
  border: 0.0625rem solid #FCA1A6;
}
.login .auth-card form .input-cont input {
  padding: 0rem;
  border: none;
  width: 100%;
  font-size: 1rem;
  color: #262c31;
}
.login .auth-card form .input-cont input:focus {
  outline: none;
  background: none;
  background-color: none !important;
}
.login .auth-card .form2 .img-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}
.login .auth-card .form2 .img-cont img {
  width: 9.375rem;
  height: 9.375rem;
  aspect-ratio: 1/1;
  object-fit: fill;
  border-radius: 50%;
}
.login .auth-card .form2 .img-cont h3 {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-family: dmsans;
  font-style: normal;
}
.login .auth-card .form-check-label {
  color: #1f252a;
  font-size: 0.875rem;
}
.login .auth-card .form-check-label a {
  text-decoration: none;
  color: #564fdc;
}
.login .auth-card .form-check-input:focus {
  outline: none;
}
.login .auth-card .form-check-input:checked[type="checkbox"] {
  background-image: url("../images/checkbox.svg");
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.login .auth-card button {
  margin-top: 2.25rem;
  font-family: dmsans;
  font-style: normal;
  width: 100%;
  background: #fe4e40;
  border: none;
  padding: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.5rem;
}
.login .auth-card button.signup {
  margin-top: 1.25rem;
}
.login .auth-card button.disabled {
  background: #595E62;
}
.login .auth-card button.white {
  background: white ;
  color: black ;
  border: 0.0625rem solid #D9DADB;
}
.login .auth-card p {
  font-size: 0.75rem;
  font-family: dmsans;
  font-style: normal;
  margin: 1rem;
  color: #595e62;
  text-align: center;
}
.login .auth-card p.err-message {
  text-align: left;
  color: #FCA1A6;
  margin: 0.3125rem;
}
.login .auth-card p.purple {
  color: #564fdc;
}
.login .auth-card p.dark {
  color: #000;
}
.login .auth-card p.left {
  text-align: justify;
  margin-left: 0rem;
  margin-bottom: 1.5rem;
}
.login .auth-card p a {
  color: #595e62;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
}
.login .auth-card p a.purple {
  color: #564fdc;
}
.login .auth-card .main-img {
  display: block;
  margin: auto;
  margin-bottom: 1.875rem;
}
.login .auth-card .divider {
  border-top: 0.0625rem solid #e4e7ec;
  margin-left: -1rem;
  width: 110%;
}
.loader {
  font-family: dmsans;
  font-style: normal;
}
