@import "./tools.less";

nav {
  *{
    .font-pilat;
  }  
  background: #fff;
  position: sticky;
  top: 0rem;
  border-bottom: .0625rem solid #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 10.6vh;
  padding: .375rem 1rem;
  // background-color: #fff;
  z-index: 999;
  .nav-header {
    display: flex;
    justify-content: center;
    img {
      width: 2.125rem;
    }
  }
  .nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto !important;
    // margin-top: auto;
    span{
        // margin-right: auto;
        font-size: 1.75rem;
        font-weight: bolder;

    }

    img{
      width: 3rem;
    }

    .ticket-icon{
      .number{
        font-size: .875rem ;
        font-weight: bold;
        .font-dm-sans;
      }
    }
  }

  &.new-game{
    .nav-body{
      span{
        margin: 0rem;
      }
    }
  }
}

.ticket-icon{
  position: relative;
  // border: .0625rem solid red;
  .number{
    position: absolute;
    top: -0.625rem;
    background-color: #E22E38;
    width: 1.5rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5625rem;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    border: .0625rem solid white;
    right: -0.625rem;
  }
}


.user-icon{
    width: 2.0844rem ;
    aspect-ratio: 1/1;
    margin-left: 1rem;
}